@page
@model AboutModel
@{
    ViewData["Title"] = "About me";
}
<h1>@ViewData["Title"]</h1>

<p>Jag heter Lucas, och jag studerar webbutveckling på mittuniversitetet.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut auctor enim, non hendrerit risus. Nulla id tellus
    pharetra, rhoncus risus non, ultricies purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
    per inceptos himenaeos. Etiam aliquet posuere lacus, non bibendum nibh dictum quis. In et massa vestibulum,
    fringilla turpis eget, posuere mi. Integer vel diam a ante eleifend tincidunt. Class aptent taciti sociosqu ad
    litora torquent per conubia nostra, per inceptos himenaeos. Proin tristique nunc ut molestie faucibus. Aenean
    pharetra id enim ut tincidunt. Duis et mauris sed lorem pulvinar imperdiet at et felis. Orci varius natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce ex tellus, varius ac justo eu, vestibulum
    viverra augue. Praesent posuere, quam iaculis condimentum sollicitudin, nibh tortor ullamcorper augue, nec mattis
    felis quam quis justo. Sed malesuada convallis mauris, at mattis ligula rutrum pellentesque.

    In hac habitasse platea dictumst. Maecenas scelerisque commodo ex, non viverra nisi blandit et. Duis eleifend in
    sapien ut sollicitudin. Fusce non rutrum ipsum, sed ultricies enim. Duis a est a leo pellentesque scelerisque. Sed
    sed eros malesuada, interdum tortor sit amet, molestie mi. Sed volutpat eu diam vitae scelerisque. Suspendisse
    potenti. Fusce ut finibus lorem. In nec ex ac dui sagittis tincidunt non ac lectus. Ut eu pulvinar urna. Maecenas
    ultrices tempus leo ut semper. Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    posuere cubilia curae;

    Aliquam metus orci, volutpat ac odio ut, sodales suscipit lectus. Phasellus id tellus sed erat ullamcorper rutrum in
    at odio. Sed iaculis laoreet laoreet. Morbi nulla tellus, commodo id ornare ac, auctor sit amet odio. Nullam porta
    hendrerit nulla. Phasellus euismod, quam non suscipit fringilla, nisl mi ullamcorper turpis, a volutpat lectus leo
    eu est. Nullam a lectus nisi. Donec at quam at ipsum sollicitudin tincidunt ut quis odio. Ut consequat ut enim in
    tempor. Sed imperdiet suscipit elementum. Quisque accumsan tincidunt ex at mollis. Nullam vitae tellus nec tortor
    pharetra sagittis vel at risus.

    Suspendisse quis urna id libero sollicitudin tincidunt eget in nisl. Aenean in vulputate libero, sed consectetur
    libero. Etiam ornare enim odio, eget laoreet dolor accumsan vitae. Donec ac libero nec felis imperdiet ornare.
    Aliquam pharetra nisl et neque imperdiet, at fringilla risus convallis. In vel dictum ipsum, pellentesque molestie
    leo. Integer tristique porttitor orci in varius. Ut ut odio ac nibh posuere varius.

    Curabitur ultricies viverra mattis. Duis ullamcorper condimentum urna, sed finibus felis feugiat a. Morbi ac blandit
    nisi. Morbi varius suscipit mattis. Mauris quis felis elementum, elementum orci vel, tristique ligula. Mauris eu
    dignissim turpis. Suspendisse potenti. Praesent convallis libero ac orci scelerisque, in tempor sapien volutpat.
    Etiam venenatis nisi lacus, ut pulvinar diam commodo non. Nunc nunc elit, sagittis nec ex nec, gravida pulvinar
    libero. Aliquam vel porttitor ligula.</p>
